context:
  environment: development
  port: 3000

headers:
  countryLanguage: "x-country-language"

cacheControl:
  pages:
    home: 15552000
  static:
    robots: 86400
    favicon: 15552000
    asset: 15552000

thirdPartyScripts:
  - id: fake-uri
    uri: https://third-party-fake-domain/third-party-fake-path.js
    node: body
    async: true
    defer: true
  - id: fake-body
    body: (function () { console.log('loading third-party with body'); } )();
    node: head
